@charset "utf-8";
html,
body {
  font-family: "맑은고딕";
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  color: #554f4f;
}
img {
  vertical-align: bottom;
}

main {
  width: 1200px;
  height: auto;
  margin: auto;
  /* background-color: #eee; */
}
header {
  width: 100%;
  height: 100px;
  /* background-color: #ddd; */
  display: flex;
}
/* 로고 */
h1 {
  width: 200px;
  height: 100px;
  /* background-color: #eee; */
}
h1 img {
  width: 100%;
}
/* 네비 구역 */
#nav-wrap {
  width: 1000px;
  height: 100px;
  /* background-color: #ddd; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  width: 60%;
  height: 50%;
  /* border: 1px solid #333; */
  margin-right: 20px;
}
nav > ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
}
nav > ul > li {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  background-color: #ddd;
  position: relative;
}
nav > ul > li > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > ul > li:hover {
  background-color: orange;
}
.sub-menu {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: white;
  text-align: center;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}
.sub-menu a {
  display: block;
  padding: 10px;
  border-bottom: 1px dashed #666;
}
.sub-menu a:last-child {
  border-bottom: none;
}
.sub-menu a:hover {
  background-color: rgb(6, 5, 21);
  color: white;
}
nav > ul > li:hover .sub-menu {
  height: 130px;
}
section {
  width: 100%;
  height: auto; /* height:500px */
}
.slider-wrap {
  width: 100%;
  height: 300px;
  background-color: #cccccc;
  overflow: hidden;
}
.sliders {
  list-style: none;
  display: flex;
  width: 300%;
  position: relative;
  left: 0;
}
.sliders > li {
  width: 33.33%;
  position: relative;
}
.sliders > li img {
  width: 100%;
}
.sliders > li p {
  position: absolute;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 700;
  color: yellow;
  border-radius: 10px;
}
.content-wrap {
  width: 100%;
  height: 200px;
  /* background-color: #bbb; */
  display: flex;
}
/* 콘텐츠 */
.notic-gallery {
  width: 33.33%;
  height: 100%;
  /* background-color: #bbbbbb; */
  padding: 10px;
}
/* 공지사항과 갤러리 세부 디자인 */
ul.tabs {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  z-index: 10;
  margin-left: 10px;
}
ul.tabs li {
  width: 50%;
  height: 100%;
}

ul.tabs li a {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #666666;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}
ul.tabs li:last-child a {
  margin-left: -1px;
}
ul.tabs li a.active {
  border-bottom: 1px solid white;
  background-color: white;
}
div.tabs-content-g {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  margin-top: -1px;
  position: relative;
  z-index: 9;
}
#notic {
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}
#notic li {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #acacac;
}
#notic li:last-child {
  border-bottom: none;
}
#notic li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

#gallery {
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
#gallery li {
  width: 25%;
  border: 1px solid #acacac;
}
#gallery li img {
  width: 100%;
  vertical-align: bottom;
}

ul.tab-content {
  display: none;
}
ul.tab-content:first-child {
  display: flex;
}
.banner {
  width: 33.33%;
  height: 100%;
  /* background-color: #b1b1b1; */
  padding: 10px;
}
.banner a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  vertical-align: bottom;
}
.shortcut {
  width: 33.33%;
  height: 100%;
  /* background-color: #9a8787; */
  padding: 10px;
}
.shortcut a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.shortcut img {
  width: 100%;
  vertical-align: bottom;
}
.shortcut a span {
  display: flex;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  width: 100%;
  height: 100px;
  /* background-color: #aaa; */
  display: flex;
}
/* 푸터 */
h2 {
  width: 200px;
  height: 100%;
  /* background-color: #aaa; */
}
h2 img {
  width: 100%;
}
.footer-content {
  width: 1000px;
  height: 100%;
  /* background-color: #a8a6aa; */
}
.footer-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dashed #333;
}
.copy {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
}
#popup {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 99999;
  background-color: white;
  border: 2px solid #aaaaaa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#popup h2 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: orange;
  padding: 20px;
  color: rgb(7, 56, 75);
}
#popup p {
  line-height: 230%;
  font-size: 1rem;
  padding: 20px;
}
.pop-close {
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
